.App {
  background-color: #383838;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  box-sizing: border-box;
  color: white;
}

header {
   text-align: center;
   margin-top: 80px;
   font-size: 30px;
   font-weight: 700;
}

.session-break {
   display: flex;
   justify-content: space-between;
}

.controls {
   display: flex;
   font-size: 24px;
   justify-content: space-evenly;
   align-items: center;
}

.controls > div {
   margin: 0 5px;
}

#break-label, #session-label {
   margin: 30px 0 10px 0;
   font-size: 18px;
   font-weight: 700;
   text-align: center;
}

#break-length, #session-length {
   font-size: 30px;
   width: 40px;
   text-align: center;
}

.timer {
   border: 1px solid white;
   border-radius: 10px;
   padding: 10px;
   margin-top: 30px;
}

#timer-label, #time-left {
   font-size: 28px;
   font-weight: 700;
   text-align: center;
}

#time-left {
   font-size: 64px;
}

.timer-controls {
   margin-top: 20px;
   font-size: 40px;
   display: flex;
   justify-content: space-evenly;
}